body{
    background-image: url(b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    color: #f4ce1d;
}
section{
    display: flex;
    justify-content: center;
}
input{
    display: block;
    width: 30%;
    height: 35px;
    border: 2px solid #f4ce1d;
    background: none;
    outline: none;
    font-size: 25px;
    border-radius: 5px;
    color: white;
}
ul{
    list-style: none;
}
button{
    padding: 19px;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    background-color:#f4ce1d;
    color: black;
    line-height: 1px;
}
button:hover {
    background-color: #9e8c32;
    transition: all ease-in 0.5s;

}
li {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: white;
    margin-right: 50px;
    font-family: 'Lobster', cursive;
    font-weight: 600;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
    h1{
        font-size: 20px;
    }
    input{
        display: block;
        width: 84%;
        height: 35px;
        border: 2px solid #f4ce1d;
        background: none;
        outline: none;
        font-size: 14px;
        border-radius: 5px;
        color: white;
        margin-left: 16px;
    }
    button{
        margin: 22px 32px;
        padding: 10px;
        font-size: 10px;

    }
    section{
        display: block;
    }
    li{
        font-size: 12px;
        color: white;
        font-family: 'Lobster', cursive;
    
    }
}